.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 #sideImg{
   width: 100%;
   height: 100%;
 }
 
 #text{
   width: 100%;
   text-align: left;
 }
 #Two{
   width: 100%;
  
 }
 #text2{
   
   text-align: left;
 }
 #text3{
   margin-top: 1%;
 }
 #Three{
   width: 80%;
 }
 #text4{
   text-align: center;
 }
 #line{
   background: red;
   width: 100%;
   height: 2px;
   margin-top: 1%;
   margin-bottom: 1%;
 }
 
 #line2{
   display: inline;
   color: red;
 }
 #Red{
   background: red;
 }
 @media (max-width: 1020px){
   #sideImg{
     display: none;
   }
   #text,#tex1,#text2,#text3,#text4,#text5,#text6{
     font-size: 70%;
   }
 }